body{
background-image: linear-gradient(to right top, #b5d7f5, #c7ddf8, #d8e4fa, #e6ebfb, #f2f3fd, #ecedfa, #e5e6f7, #dfe0f4, #c2cbed, #a0b7e6, #77a5de, #3994d6);
overflow-X:hidden;
}
.nabvbar{
  color:#F98967 !important;
  font-size: 0.9em !important;
  font-weight: bold;
  display: inline;
  
} 

ul{
  list-style-type:none;
  display: inline;
}
.nav-link{
  color:#B5D7F5 !important;
  font-size: 2em !important;
  font-weight: bold;
  display: inline;
}
.pointer{
  cursor: pointer !important;
}
.navPadding{
  padding-top: 20px;
}
.navbarLOGO{
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 150px !important;
}
.container1{
  background-color: #ffffff !important;
   
}
.nabvbar{
  margin-left:40px;

}
.navbar-toggler{
  background-color: #B5D7F5;
  align-content: center;
  
}
.toggerN{
  padding-top: 30px;
}
.nav-item{
  padding-top:10px;
  text-align:center !important;
}


/*****************Slider********************/

.SliderContainrt{
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.img{
  width: 100% !important;
  height: 500px !important;
}

/*********************content***************/
/*container*/
.h1container{
  padding:50px;
  text-align: center;
  size: 50px;
}
h1{
  font-size:5em;
}
.list-group-item{
  border: none !important;
 
  
}   
.myJob{
  display:flex !important;
  flex-flow: wrap !important;
}


/********************CARDS*********************/
.p{
  padding-top: 50px;
  text-align: center;
  font-size: 5em !important;
  color: #326991 !important;

}
.card {
  border: none !important;
  text-align: center;
  padding-top: 20px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 50px !important;
}
.text-card{
  font-size: 1.5em !important;
}
.btn{
  font-size: 1.5em !important;
}
.card-footer{
  background-color: white !important;
}



@media(max-width: 400px) {
  .p{
    font-size: 2.5em !important;
    padding-bottom: 5px !important;
  }
  .card-group{
    padding-top:auto !important;
  }
  .text-center{
    font-size: 1.5em !important;
    text-align: center !important;
    /*padding-left: 20px !important;*/
  }
  .card-body{
    padding-right: 10px !important;
  }
  .card {
    border: none !important;
    padding-top: 70px !important;
    padding-bottom: 50px !important;
  }

.carousel-inner{
  width:100%;
  max-height: 200px !important;
}
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px){
  .containern {
    margin-left: auto !important;
    margin-right: auto !important;
} 
  .navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-collapse.collapse.in {
display: block!important;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-form {
padding: 10px 15px;
margin-top: 8px;
margin-right: -15px;
margin-bottom: 8px;
margin-left: -15px;
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
width:auto;
float:none!important;
}
.navbar-toggler-icon {
  width:40px !important;
  height: 40px !important;
  padding:auto !important;
}
.navbar-toggle {
  order:0;
  margin-left:15px;
  margin-right:0;
}
}
  .mx-auto.d-sm-flex.d-block.flex-sm-nowrap {
    text-align: center;
}
.contentS{
  width: 100% !important;
  height: 200px !important;
}


/***********************FOOTER***********************/
    
.full {
  width: 100% ;    
}
.gap {
height: 30px ;
width: 100%;
clear: both ;
display: block;
}
.footer {
  background: #97C5EB ;
  height: auto ;
  padding-bottom: 30px;
  position: relative;
  width: 100% ;
  border-bottom: 1px solid #CCCCCC ;
  border-top: 1px solid #DDDDDD;  
  }
  .footer p {
  margin: 0 ;
  }
  .footer img {
  max-width: 100%;
  }
  .footer h3 {
  color: white ;
  font-size: 18px ;
  font-weight: 600 ;
  line-height: 27px ;
  padding: 40px 0 0px;
  text-transform: uppercase;
  margin-bottom: 15px ;
  }
  
  .footer h4 {
  color: white ;
  font-size: 2em ;
  font-weight: 600 ;
  line-height: 38px ;
  padding: 40px 0 10px ;
  font-family: cursive ;
  font-weight: lighter ;
  }
  
  .footer ul {
  font-size: 13px  ;
  list-style-type: none  ; 
  margin-left: 0 ;
  padding-left: 0  ;
  margin-top: 0px  ;
  color: #7F8C8D  ;
  padding: 0 0 8px 0  ;
  }
  
  .email{
  border-bottom: 3px solid #fff  ;
  }
  .footer ul li a {
  padding: 0 0 12px 0  ;
  display: block  ;
  }
  .footer a {
  color: white  ;
  font-weight: lighter  ;
  }
  
  .footer p {
  color: white  ;
  font-weight: lighter  ;
  }
  
  .footer a:hover {
  text-decoration:none  ;
  font-weight: bold  ;
  }
  .supportLi h4 {
  font-size: 20px  ;
  font-weight: lighter  ;
  line-height: normal  ;
  margin-bottom: 0  ;
  padding-bottom: 0  ;
  }
  
  .bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%)  ;
  box-shadow: 0 1px 0 #B4B3B3  ;
  }
  
  
  .footer a {
  color: #78828D ;
  }
  
  .footer-bottom {
  margin-top: 2em  ;
  border-top: 1px solid #DDDDDD  ;
  padding-top: 20px  ;
  padding-bottom: 10px  ;
  }
  .footer-bottom p.pull-left {
  padding-top: 6px  ;
  font-size: 0.75em  ;
  }
  
